[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ASN1js is a pure JavaScript library implementing a full ASN.1 BER decoder and encoder.
[access "refs/*"]
	owner = group user/TomHirst1984
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TomHirst1984
	label-Verified = -1..+1 group user/TomHirst1984
	push = group user/TomHirst1984
	read = group user/TomHirst1984
	rebase = group user/TomHirst1984
	removeReviewer = group user/TomHirst1984
	submit = group user/TomHirst1984
[access "refs/heads/*"]
	create = group user/TomHirst1984
	push = +force group user/TomHirst1984
	pushMerge = group user/TomHirst1984
	read = group user/TomHirst1984
[access "refs/tags/*"]
	push = group user/TomHirst1984
	push = +force group user/TomHirst1984
